* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    color: #fff;
}
h1, h2 {
    color: #e3b873;
    text-transform: uppercase;
}
header {
    background-color: #131313;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
}
.slider {
    display: flex;
    justify-content: space-between;
}
.block-text {
    max-width: 550px;
}
.block-text__title {
    margin-top: 70px;
    margin-bottom: 34px;
    font-size: 27px;
    line-height: 37px;
    max-width: 253px;
    position: relative;
}
.block-text__title::after {
    content: '';
    position: absolute;
    top: 54px;
    right: 0;
    width: 92px;
    height: 1px;
    background-color: #E3B873;
}
.block-text__subtitle {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 42px;
    max-width: 330px;
}
.block-parametrs {
    max-width: 470px;
    display: flex;
    justify-content: space-between;
}
.parametrs-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.parametrs-item {
    margin-bottom: 34px;
}
.parametrs-item__title {
    margin-bottom: 9px;
    font-size: 18px;
    line-height: 25px;
}
.parametrs-item__subtitle {
    max-width: 110px;
    font-size: 13px;
    line-height: 21px;
    height: 40px;
}
.slider-control {
    display: flex;
    justify-content: space-between;
    max-width: 210px;
    margin-top: 17px;
}
.dots {
    display: flex;
    justify-content: space-between;
}
.dots__item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.dots__item + .dots__item {
    margin-left: 18px;
    cursor: pointer;
}
.active-dot {
    background: #fff;
}
.arrow-right, .arrow-left, .list-item__link {
    cursor: pointer;
}
.navigation {
    margin-bottom: 50px;
}
.navigation__list {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}
.list-item {
    padding-right: 60px;
}
.list-item__link {
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
}
.active-link {
    color: #e3b873;
    text-decoration: underline;
}